<div class="scene">
    Background: {{ scene.background.id }}

    <div class="description" ng-if="scene.description">
        {{ scene.description }}
    </div>

    <img ng-repeat="characterWithPosition in scene.content"
         src="{{ characterWithPosition.character.url }}"
         ng-drag="{{ drag }}"
         ng-drag-data="characterWithPosition.character"
         ng-drag-success="onDragComplete($data, $event)"
         ng-style="{
            'position': 'absolute',
            'top': characterWithPosition.position.y + 'px',
            'max-height': '120px',
            'left': characterWithPosition.position.x + 'px'}"
        />
</div>
