<div class="scene">

    <div class="description" ng-if="scene.description">
        {{ scene.description }}
    </div>

    <img ng-repeat="characterWithPosition in scene.positions"
         src="{{ characterWithPosition.character.url }}"
         ng-drag="{{ drag }}"
         ng-drag-data="characterWithPosition.character"
         ng-drag-success="onDragComplete($data, $event)"
         ng-style="{
            'position': 'absolute',
            'top': characterWithPosition.y + 'px',
            'max-height': '120px',
            'left': characterWithPosition.x + 'px'}"
        />
</div>
