<div>
    <div ng-click="up()" class="up" ng-class="{active: currentPosition > 0}"></div>
    <div ng-repeat="item in items | slice:currentPosition:currentPosition+max" class="item-wrapper">
        <img
                ng-click="clickHandler(item)"
                ng-if="clickHandler"
                ng-drag="false"
                src="{{ item.url }}"/>
        <img
                ng-if="drag"
                ng-drag="true"
                ng-drag-data="item"
                ng-drag-success="onDragComplete($data, $event)"
                src="{{ item.url }}"/>
    </div>
    <div ng-click="down()" class="down" ng-class="{active: currentPosition < items.length - max}"></div>
</div>
