$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
    margin: 0px;
    padding: 0px;
}

$menuSize: 60px;
$appHeight: 1675px - $menuSize;
$appWidth: 940px;

.sact-authenticated-canvas, .sact-reference, .main-menu-container {
    height: $appHeight;
    width: $appWidth;
    display: block;
    margin: auto;
}

.sact-reference {
    background-image: url("/images/vendor/microsite-home.77680133.jpg");
}

.sact-authenticated-canvas {
    background-image: url("/images/vendor/assets/bg-home.281c75a0.png");
    background-position: 0 (-$menuSize);

    .canvas-intro {
        position: absolute;
        width: $appWidth;
        top: 475px;
    }

    .canvas-description {
        position: absolute;
        width: $appWidth;
        top: 625px;
        text-align: right;
    }

    .canvas-container {
        position: relative;
        background-image: url("/images/vendor/images/canvasbg.35a0fa2a.png");
        height: 830px;
        width: $appWidth;
        top: 710px - $menuSize;
        left: 15px;

        .canvas {
            position: absolute;
            background-image: url("/images/vendor/images/canvas.6f16fd15.png");
            height: 328px;
            width: 680px;
            top: 130px;
            left: 180px;
        }
    }

    .canvas-outro {
        position: absolute;
        width: 520px;
        top: 1420px;
        padding-left: 60px;
    }
}

.form-signin {
    position: absolute;
    width: ($appWidth - 300px)/2 + 300px;
    margin: auto;
    top: 800px;
    padding-left: ($appWidth - 300px)/2;
}

.main-menu-container {
    height: $menuSize;
    background-image: url("/images/vendor/assets/bg-home.281c75a0.png");
    display: block;
    margin: auto;

    .main-menu {
        display: block;
        margin: auto;
        top: 0px;
        //text-align: center;
        padding-top: 12px;

        a {
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: 22px;
            text-decoration: none;
        }

        a:first-child {
            margin-left: 240px;
            margin-right: 33px;
        }
        a:last-child {
            margin-left: 25px;
        }

        a.active {
            color: #f6b5b3;
        }

        a:hover {
            color: #dd9c9a;
        }
    }
}

.select-background {
    position: relative;
    top: 230px;
    left: 45px;

    div, img {
        display: block;
    }

    img {
        margin: 5px;
        height: 50px;
    }
}

.select-characters {
    position: relative;
    top: 285px;
    left: 160px;

    div, img {
        display: inline-block;
    }

    img {
        margin: 5px;
        max-height: 60px;
        max-width: 60px;
    }
}
