$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
    margin: 0px;
    padding: 0px;
}

$appHeight: 1675px;
$appWidth: 940px;

.sact-authenticated-canvas, .sact-reference {
    height: $appHeight;
    width: $appWidth;
    display: block;
    margin: auto;
}

.sact-reference {
    background-image: url("/images/vendor/microsite-home.77680133.jpg");
}

.sact-authenticated-canvas {
    background-image: url("/images/vendor/assets/bg-home.281c75a0.png");

    .canvas-intro {
        position: absolute;
        width: $appWidth;
        top: 475px;
    }

    .canvas-description {
        position: absolute;
        width: $appWidth;
        top: 625px;
        text-align: right;
    }

    .canvas-container {
        position: relative;
        background-image: url("/images/vendor/images/canvasbg.35a0fa2a.png");
        height: 830px;
        width: $appWidth;
        top: 710px;
        left: 15px;

        .canvas {
            position: absolute;
            background-image: url("/images/vendor/images/canvas.6f16fd15.png");
            height: 328px;
            width: 680px;
            top: 130px;
            left: 180px;
        }
    }

    .canvas-outro {
        position: absolute;
        width: 520px;
        top: 1420px;
        padding-left: 60px;
    }
}
