<div class="canvas-intro">
    Introducing Disney Infinity - the new video game where a spark of imagination unlocks the freedom to play with some of your favorite<br/>
    Disney characters and worlds like never before! Woody and Buzz, Jack Sparrow, The Incredibles, Sully and Mike, Lightning McQueen and<br/>
    many more are yours to command as you create your own epic Disney adventures!
</div>

<div class="canvas-container">


    <div class="canvas">

    </div>
</div>

<div class="canvas-description">
    Set the scene, the characters and tell us what's happening to earn loads of swapits plus<br/>
    a chance to win a Nintendo 3DS! Drag and drop on the canvas below and make up to 4<br/>
    scenes for your story! Each scene will give you even more swapits!
</div>


    <div class="canvas-outro">
        Click "preview" to make sure you're happy and if you are, submit it for entry<br/>
        into the competition and you could be in with a chance of winning a Nintendo<br/>
        3DS XL, Disney Infinity Started Pack and 5,000 swapits!
    </div>
