<div class="sact-authenticated-canvas">

<div class="canvas-intro">
    Introducing Disney Infinity - the new video game where a spark of imagination unlocks the freedom to play with some of your favorite<br/>
    Disney characters and worlds like never before! Woody and Buzz, Jack Sparrow, The Incredibles, Sully and Mike, Lightning McQueen and<br/>
    many more are yours to command as you create your own epic Disney adventures!
</div>

<div class="canvas-description">
    Set the scene, the characters and tell us what's happening to earn loads of swapits plus<br/>
    a chance to win a Nintendo 3DS! Drag and drop on the canvas below and make up to 4<br/>
    scenes for your story! Each scene will give you even more swapits!
</div>

<div class="canvas-container">
    <div class="select-scene">
        <span class="scene-help">Flick between your scenes here:</span>
        <a ng-repeat="scene in scenes"
              class="scene-tab"
              ng-class="{active: $index == currentSceneIndex}"
              ng-click="selectScene($index)">
            Scene {{ $index + 1 }}
        </a>
    </div>

    <scrollable-list class="select-background"
                     items="backgrounds"
                     click-handler="selectBackground"
                     max="3"></scrollable-list>
    <scrollable-list class="select-characters"
                     items="characters"
                     drag="true"
                     on-drag-complete="onDragComplete"
                     max="3"></scrollable-list>
    <scene class="canvas"
           id="mainScene"
           ng-drop="true"
           drag="true"
           on-drag-complete="onDragComplete"
           scene="currentScene"></scene>
    <textarea class="select-text"
              ng-model="currentScene.description"
              type="text"></textarea>
</div>

<form class="form-signin" role="form" ng-if="false">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <br/>
    <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>

<div class="canvas-outro">
    Click "preview" to make sure you're happy and if you are, submit it for entry<br/>
    into the competition and you could be in with a chance of winning a Nintendo<br/>
    3DS XL, Disney Infinity Started Pack and 5,000 swapits!
</div>

</div>
