<div class="page-content">
    <a class="logout" ui-sref="sact.logout" ng-if="isAuthenticated">Logout</a>
    <a class="logout" ui-sref="sact.login" ng-if="!isAuthenticated">Login</a>

    <div class="page-title">Gallery</div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="story in stories">
            <button class="btn btn-primary" ng-click="preview(story)">Preview</button>
            Story #{{ story.id }} by {{ story.user.username }}
        </li>
    </ul>
</div>
